{% block other_sections %}
  <div class="other_sections">
    {% set sectionsList = getSectionsList() %}
    {% for item in sectionsList %}
      <a data-w-id="7b92d2a2-5e5a-a6ff-0dca-9a37ba443867" style="background-color:rgb(0,0,0)"
         href="{{ path('view_courses', {slug: item.slug}) }}" class="other_sections_link w-inline-block">
        <div class="container">
          <div class="other_sections_grid_2">
            <div id="w-node-9a37ba44386a-6ca0fef2">
              <h3 class="other_sections_h3">{{ item.title }}</h3>
            </div>
            <div id="w-node-9a37ba44386d-6ca0fef2">
              <div data-w-id="7b92d2a2-5e5a-a6ff-0dca-9a37ba44386e" class="btn padding_bottom_0">
                <div class="btn_grid">
                  <div class="btn_container"><img src="{{ asset('build/images/arrow.svg') }}" loading="lazy" alt="">
                    <div class="btn_circle"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </a>
      {% if not loop.last %}
        <div class="hor_line">
          <div class="container line"></div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
{% endblock %}