{% block sponsor %}
<div class="sponsors">
  <div class="container">
    <div class="sponsors_grid">
      <div class="sponsors_text">Sponsored by</div>
      <a href="https://pullmanriga.lv/" target="_blank" class="sponsors_logo w-inline-block">
        <img src="{{ asset('build/images/pullman_logo.png') }}" loading="lazy" width="172" alt=""/>
      </a>
    </div>
  </div>
</div>
{% endblock %}