{% block footer_cta %}
  <div data-w-id="2320b656-5a39-8405-83d9-6c5a931fb0b9" class="footer_cta">
    <a href="javascript:void(0)" data-toggle="modal" data-type="speaker" class="modal-button footer_cta_link w-inline-block">
    <div class="container">
      <div class="footer_cta_block">
        <h2 class="footer_cta_heading_blue">desire to become a speaker?</h2>
        <div class="btn padding-left-right">
          <div class="btn_grid">
            <div class="btn_text">
              <span>Apply</span>
              <div class="btn_container">
                <img src="{{ asset('build/images/arrow.svg') }}" loading="lazy" alt=""/>
                <div class="btn_circle"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </a>
  </div>

  <div data-w-id="e11646fa-ef3f-212c-f48b-4102d5433c74" class="footer_cta">
    <a href="javascript:void(0)" data-toggle="modal" data-type="sponsor" class="modal-button footer_cta_link w-inline-block">
      <div class="container">
        <div class="footer_cta_block">
          <h2 class="footer_cta_heading_red">thinking about<br>becoming a sponsor?</h2>
          <div class="btn padding-left-right">
            <div class="btn_grid">
              <div class="btn_text">
                <span>Contact Us</span>
                <div class="btn_container">
                  <img src="{{ asset('build/images/arrow.svg') }}" loading="lazy" alt=""/>
                  <div class="btn_circle"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>

  <div data-w-id="d1aa23b7-b0b3-2451-6149-629b01b99658" class="footer_cta">
    <a href="{{ path('app_register') }}" data-toggle="modal" data-type="admission" class="modal-button footer_cta_link w-inline-block">
      <div class="container">
        <div class="footer_cta_block">
          <h2 class="footer_cta_heading_white">Become part of the community</h2>
          <div class="btn padding-left-right">
            <div class="btn_grid">
              <div class="btn_text">
                <span>Contact Us</span>
                <div class="btn_container"><img src="{{ asset('build/images/arrow.svg') }}" loading="lazy" alt="">
                  <div class="btn_circle"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>

  {% include 'modals/index.html.twig' %}

{% endblock %}