<div class="intro_topics">
    <div class="container">
        <div class="intro_topics_grid_2">
            <div>
                <ul role="list" class="list_red w-list-unstyled">
                    {% for text in homePageConfig.leftColumn|replace({'</li>': '</li>%', '&nbsp;' : ' '})|striptags|split('%') %}
                    <li class="intro_list_item">{{ text }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div>
                <ul role="list" class="list_blue w-list-unstyled">
                    {% for text in homePageConfig.rightColumn|replace({'</li>': '</li>%', '&nbsp;' : ' '})|striptags|split('%') %}
                        <li class="intro_list_item">{{ text }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>