{% extends 'base.html.twig' %}

{% block title %}{{ 'app.speakers.title'|trans }}{% endblock %}

{% block content %}
  <div class="speakers">
    <div class="container">
      <h1>SPEAKERS WE ADORE</h1>
      <div class="speakers_grid_2">
        {% for speaker in speakers %}
          {% embed 'embeding/speaker_card.html.twig' with {speaker: speaker} %}{% endembed %}
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
