{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block html_wf_page %}5f6356e9734c7da52e45d434{% endblock %}

{% block content %}

  <div class="intro_password">
    <div class="container">
      <div class="intro_grid_2_password">
        <div>
          <div class="intro_text_password">
            <div class="intro_text_grid_2">
              <div>
                <img src="{{ asset('build/images/play_icon_red.svg') }}" loading="lazy" alt="" class="intro_play_icon">
              </div>
              <div>
                <h1 class="intro_heading">Premium Content for Private Community</h1>
              </div>
            </div>
            <p>ECOMMTALKS conference presents online Academy - the series of educational and motivational speeches from
               IT industry.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="login" class="utility-page-wrap login_wrapper">
    <div class="utility-page-content login_form_block ">
      <div class="registration_form">
        {% for flashError in app.flashes('verify_email_error') %}
          <div class="alert alert-danger" role="alert">{{ flashError }}</div>
        {% endfor %}

        <h1 class="h3 mb-3 font-weight-normal">Register</h1>

        {{ form_start(registrationForm, { attr:{ class: 'form login_form' }}) }}

        {% for message in app.flashes('error') %}
          <div class="alert alert-error">
            {{ message|trans|raw }}
          </div>
        {% endfor %}


        {{ form_widget(registrationForm.registeredCode,
          {
            attr:{
            class: 'login_field w-password-page w-input',
            placeholder: 'Unique registration code',
          }}) }}

        <div class="form-errors">
          {{ form_errors(registrationForm.registeredCode) }}
        </div>

        {{ form_widget(registrationForm.email,
          {
            attr:{
            class: 'login_field w-password-page w-input',
            placeholder: 'Your email',
          }}
        ) }}

        <div class="form-errors">
          {{ form_errors(registrationForm.email) }}
        </div>

        {{ form_widget( registrationForm.plainPassword.first,
          {
            attr: {
            placeholder: 'New password',
            class: 'login_field w-password-page w-input'
          }
          }
        ) }}

        <div class="form-errors">
          {{ form_errors(registrationForm.plainPassword.first) }}
        </div>

        {{ form_widget( registrationForm.plainPassword.second,
          {
            label: false,
            attr: {
            placeholder: 'Repeat new password',
            class: 'login_field w-password-page w-input'
          }
          }
        ) }}

        <div class="form-errors">
          {{ form_errors(registrationForm.plainPassword.second) }}
        </div>

        {{ form_row(registrationForm.agreeTerms, {'label': 'I accept the <a href="' ~ path('information', { slug: 'terms-and-conditions' }) ~ '">terms</a>.','label_html': true}) }}

        <button type="submit" class="login_btn w-password-page w-button">Register</button>
        {{ form_end(registrationForm) }}
      </div>

      <div class="login_form_caption">Do not have a code?
        <a href="mailto:anastasia@ecommtalks.com?subject=Hello!" class="text_link">Contact us</a>
      </div>

    </div>
  </div>
  <div class="astronaut_horizontal">
    <img
        src="{{ asset('build/images/astronaut_horizontal.jpg') }}"
        loading="lazy"
        srcset="
        {{ asset('build/images/astronaut_horizontal-p-500.jpeg') }} 500w,
        {{ asset('build/images/astronaut_horizontal-p-800.jpeg') }} 800w,
        {{ asset('build/images/astronaut_horizontal-p-1080.jpeg') }} 1080w,
        {{ asset('build/images/astronaut_horizontal-p-1600.jpeg') }} 1600w,
        {{ asset('build/images/astronaut_horizontal-p-2000.jpeg') }} 2000w,
        {{ asset('build/images/astronaut_horizontal-p-3200.jpeg') }} 3200w,
        {{ asset('build/images/astronaut_horizontal.jpg') }} 3400w
      "
        sizes="(max-width: 767px) 100vw, 80vw"
        data-w-id="f4d3a31f-654d-284b-7752-7a9706e8a3b9"
        alt="Login"
        class="astronaut_horizontal_img"
    />
  </div>

  {% embed 'additions/topics.html.twig' with { 'homePageConfig': homePageConfig} %}{% endembed %}

  {% embed 'embeding/video_grid.html.twig' %}{% endembed %}

  <style>
      .registration_form {
          display: flex;
          padding-top: 60px;
          margin: 0 auto;
          width: 100%;
          flex-direction: column;
          justify-items: center;
          align-items: center;
      }

      label[for="registration_form_agreeTerms"] {
          display: inline-block;
          margin-right: 10px;
      }

      .astronaut_horizontal {
          padding-top: 150px;
          background-color: #140407;
      }

      .form-errors ul {
          list-style: none;
          padding: 0;
          border: 2px solid #F95144;
          min-height: 64px;
      }

      .form-errors ul li {
          font-family: Neue Machina, sans-serif;
          font-style: normal;
          font-weight: normal;
          line-height: 300%;
          margin-bottom: 0;
      }
  </style>

{% endblock %}

{% block javascripts_jquery_required %}
  <script>
    $(function () {
      let formHeight = $('.login_form').innerHeight();
      let padding = formHeight < 500 ? 150 : 150 + (formHeight - 500);
      console.log('formheight', formHeight);
      $('.astronaut_horizontal').css('padding-top', padding);
    });
  </script>
{% endblock %}
