{% extends 'base.html.twig' %}
{% block title %}Registration success{% endblock %}
{% block content %}
  <div id="" class="registration_success">
    <h3>Welcome to Ecommtalks Academy!</h3>

    <div>
      <p>
        We recommend connecting your social profile for easy authentication afterwards.
      </p>
    </div>

    <div class="social_buttons">
      <ul class="social_button_list">
        <li>
          <a
              href="{{ path('connect_facebook_start') }}"
              class="social_button {{ app.user.facebookId ? 'disabled' : '' }}">
            <img src="{{ asset('build/images/icons/facebook.svg') }}" alt="Facebook"> Facebook
          </a>
        </li>
        <li>
          <a href="{{ path('connect_google_start') }}" class="social_button {{ app.user.googleId ? 'disabled' : '' }}">
            <img src="{{ asset('build/images/icons/google.svg') }}" alt="Google"> Google
          </a>
        </li>
      </ul>
    </div>
  </div>
{% endblock %}

