{% extends 'base.html.twig' %}

{% block title %}{{ information.metaTitle }}{% endblock %}
{% block meta %}<meta name="description" content="{{ information.metaDescription }}">{% endblock %}

{% block html_wf_page %}5f649814c8784c5200db9e45{% endblock %}
{% block html_wf_site %}5f607da76425035755a0fef1{% endblock %}

{% block content %}
  <div class="speakers">
    <div class="container">
      <h1 class="about_h_tablet">ABOUT<br/>ACADEMY</h1>
      <div class="about_grid_2">
        <div id="w-node-5341410a9ac2-00db9e45">
          <h1 class="about_h_desktop">{{ information.title }}</h1>
          {{ information.text|raw }}
          <div class="about_cta">
            <a
                data-w-id="c75a2b75-8ded-192f-908e-6ba691e7e4f9"
                href="{{ path('index_courses') }}"
                class="btn padding-right w-inline-block"
            >
              <div class="btn_grid">
                <div class="btn_text">Courses</div>
                <div class="btn_container">
                  <img
                      src="{{ asset('build/images/arrow.svg') }}"
                      loading="lazy"
                      alt=""
                  />
                  <div
                      style="
                    -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1)
                      rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                    -moz-transform: translate3d(0, 0, 0) scale3d(1, 1, 1)
                      rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                    -ms-transform: translate3d(0, 0, 0) scale3d(1, 1, 1)
                      rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                    transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0)
                      rotateY(0) rotateZ(0) skew(0, 0);
                    opacity: 1;
                  "
                      class="btn_circle"
                  ></div>
                </div>
              </div>
            </a>
            <a
                data-w-id="c75a2b75-8ded-192f-908e-6ba691e7e500"
                href="{{ path('index_speakers') }}"
                class="btn w-inline-block"
            >
              <div class="btn_grid">
                <div class="btn_text">Speakers</div>
                <div class="btn_container">
                  <img
                      src="{{ asset('build/images/arrow.svg') }}"
                      loading="lazy"
                      alt=""
                  />
                  <div
                      style="
                    -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1)
                      rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                    -moz-transform: translate3d(0, 0, 0) scale3d(1, 1, 1)
                      rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                    -ms-transform: translate3d(0, 0, 0) scale3d(1, 1, 1)
                      rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                    transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0)
                      rotateY(0) rotateZ(0) skew(0, 0);
                    opacity: 1;
                  "
                      class="btn_circle"
                  ></div>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div id="w-node-8795bc7c3849-00db9e45">
          <img
              src="{{ asset('build/images/astro_black_bg.jpg') }}"
              loading="lazy"

              alt=""
              class="about_img"
          />
        </div>
      </div>
    </div>
  </div>
{% endblock %}
