{% extends 'base.html.twig' %}

{% block title %}{{ information.metaTitle }}{% endblock %}
{% block meta %}<meta name="description" content="{{ information.metaDescription }}">{% endblock %}

{% block html_wf_page %}5f649814c8784c5200db9e45{% endblock %}
{% block html_wf_site %}5f607da76425035755a0fef1{% endblock %}

{% block content %}
  <div class="speakers">
    <div class="container">
      <h1 class="about_h_desktop">{{ information.title }}</h1>
      {{ information.text|raw }}
    </div>
  </div>
{% endblock %}
