{% extends 'base.html.twig' %}

{% block title %}Password Reset Email Sent{% endblock %}

{% block content %}
    <div class="text_page">
        <div class="d-flex justify-content-center flex-column" style="padding-top: 10rem">
            <div style="max-width: 430px; margin: 0 auto; text-align: center">
                <h1 class="h1_30">Success</h1>
                <div class="form_p" style="font-size: 1rem; margin: 2rem 0">
                    <p>Your password reset request has been submitted. Check your email.</p>
                    <p> This link will expire in {{ tokenLifetime|date('g') }} hour(s).</p>
                    <a href="{{ path('index') }}" class="login_btn w-password-page w-button">Go to the Homepage</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
