{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block content %}
  <div class="text_page">
    <div class="d-flex justify-content-center flex-column" style="padding-top: 10rem">
      {% for flashError in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
      {% endfor %}

      <div style="max-width: 430px; margin: 0 auto; text-align: center">
        <h1 class="h1_30">FORGOT YOUR PASSWORD?</h1>
        <div class="form_p" style="font-size: 1rem; margin: 2rem 0">
          Don't worry! Just fill in your email and we'll send you a link to reset your password.
        </div>
        {{ form_start(requestForm, {'attr': {'class': 'login_form w-password-page'} }) }}
        {{ form_widget(requestForm.email, {'attr': {'class': 'form_field w-password-page w-input', 'placeholder': 'Email*'} }) }}

        <button class="login_btn w-password-page w-button">Send password reset email</button>
        {{ form_end(requestForm) }}
      </div>
    </div>
  </div>
{% endblock %}