{% extends 'base.html.twig' %}

{% block title %}Welcome to EcommTalks{% endblock %}

{% block content %}
  <div class="intro">
    <div class="container">
      <div class="intro_grid_2">
        <div>
          <div class="intro_text">

            <div class="intro_text_grid_2">
              <a href="#videos-grid" class="intro_play_btn w-inline-block">
                <img src="{{ asset('build/images/play_icon_red.svg') }}" loading="lazy" alt="" class="intro_play_icon">
              </a>
              <div><h1 class="intro_heading">{{ homePageConfig.headerTitle|raw }}</h1></div>
            </div>
            <p class="intro_p">{{ homePageConfig.headerDescription|raw }}</p>
          </div>
          <div class="intro_cta">
            <a data-w-id="cda7d9ac-6ece-d033-a65a-76b0a2fe6354" href="{{ path('index_speakers') }}"
               class="btn padding-right w-inline-block">
              <div class="btn_grid">
                <div class="btn_text">Speakers</div>
                <div class="btn_container">
                  <img src="{{ asset('build/images/arrow.svg') }}" loading="lazy" alt="">
                  <div class="btn_circle"></div>
                </div>
              </div>
            </a>
            <a data-w-id="a5f50e60-8d27-13c4-108f-dc423b8d4661" href="{{ path('information', { slug: 'about-academy' }) }}"
               class="btn w-inline-block">
              <div class="btn_grid">
                <div class="btn_text">About</div>
                <div class="btn_container">
                  <img src="{{ asset('build/images/arrow.svg') }}" loading="lazy" alt="">
                  <div class="btn_circle"></div>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="intro_img_container">
          <div data-w-id="dd3c215d-2ae5-a50d-aa79-4d574ee49df4" class="intro_img"></div>
        </div>
      </div>
    </div>
  </div>

  {% embed 'additions/topics.html.twig' with { 'homePageConfig': homePageConfig} %}{% endembed %}

  {% embed 'embeding/video_grid.html.twig' %}{% endembed %}

  {% embed 'additions/other_sections.html.twig' %}{% endembed %}


{% endblock %}

{% block additional_styles %}
  <style>
      .about_quote {
          text-indent: -0.5em;
      }

      p, .about_quote {
          hanging-punctuation: first;
      }

      .visible {
          opacity: 1;
      }

      .text_red, .text_blue {
          -webkit-box-decoration-break: clone;
          box-decoration-break: clone;
      }

      .intro_img {
          height: calc(100% + 56px);
      }

      @media screen and (max-width: 991px) {
          .intro_img {
              height: calc(100% + 96px);
          }
      }

      @media screen and (max-width: 791px) {
          .intro_img {
              background-size: 100%;
          }
      }

      @media screen and (max-width: 767px) {
          .intro_img {
              height: 420px;
              background-size: 340px auto;
          }
      }

      @media screen and (max-width: 478px) {
          .logo {
              width: calc(100% - 96px);
          }

          .intro_img {
              width: calc(100% + 48px);
              background-size: 85% auto;
          }
      }
  </style>
{% endblock %}
