<div
    class="modal fade"
    id="modal_form"
    tabindex="-1"
    role="dialog"
    aria-labelledby="modal_form"
    aria-hidden="true"
>
  <button type="button" data-dismiss="modal" aria-label="Close" data-w-id="8591dad0-d1ef-e323-fbe3-228b6a97fcbe" class="close modal_close_btn w-inline-block">
    <img src="{{ asset('build/images/close_btn.svg') }}" width="48" height="48" alt="Close">
  </button>
  <div class="modal_content modal-dialog" role="document">

    <form class="modal-form">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="h1_30 margin_adjustment"></h1>
        </div>
        <div class="modal-body">
          <div>
            <span class="text-danger"></span>
            <label>
              <input type="text" name="fullName" class="form_field w-input fullName" placeholder="Full name*" required>
            </label>
          </div>
          <div>
            <span class="text-danger"></span>
            <label>
              <input type="text" name="email" class="form_field w-input email" placeholder="Email*" required>
            </label>
          </div>
          <div>
            <span class="text-danger"></span>
            <label>
              <input type="text" name="company" class="form_field w-input company" placeholder="Company*" required>
            </label>
          </div>
          <div>
            <span class="text-danger"></span>
            <label>
              <input
                  type="text" name="position" class="form_field w-input position" placeholder="Job title*" required>
            </label>
          </div>
          <div>
            <span class="text-danger"></span>
            <label>
              <textarea
                  placeholder=""
                  maxlength="5000"
                  id="message"
                  name="message"
                  data-name="Message"
                  class="form_textfield w-input message"
                  required
              ></textarea>
            </label>
          </div>
          <div><input type="hidden" name="type" value="" required></div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-apply" form="contact_speaker" id="becomeFormSubmit">Apply</button>
        </div>
      </div>
    </form>

    <div class="modal-wrap hidden">
      <div class="modal-header">
        <h1 class="h1_30 margin_adjustment">Success</h1>
      </div>
      <div class="modal-body">
        <p class="form_p">Thank you for your interest for the ECOMMTALKS community. We will review your application and
                          contact you shortly.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-apply" data-dismiss="modal" aria-label="Close">Close</button>
      </div>
    </div>
  </div>
</div>