<div class="speaker_card_img_container">
  <img
      src="{{ asset('speakerImage/'~ speaker.profilePic ) }}"
      loading="lazy"
      sizes="(max-width: 479px) 80vw, (max-width: 767px) 31vw, 32vw"
      alt=""
  >
</div>
<div class="speakers_text">
  <h3>{{ speaker.fullName }}, {{ speaker.company }}, {{ speaker.position }}</h3>
  <div class="collapse" id="author_bio_{{ speaker.id }}">
    <div class="card card-body bg-transparent text full">
      {{ speaker.bio|raw }}
    </div>
      <p class="text-right">
        <a class="read-more" href="javascript:void(0)">Read More</a>
      </p>
  </div>
  {% if speaker.video|length > 0 %}
    <a href="{{ path('watch', {slug: speaker.video[speaker.video|length -1].slug}) }}" class="red_link">
      Watch Now: {{ speaker.video[speaker.video|length -1].title }}
    </a>
  {% endif %}
</div>