<div class="video_description_text">
  {{ video.description|raw }}
</div>

<div class="video_grid_2">
  <div class="video_player_container">
    <div class="video_player w-embed w-iframe">
      <video
          id="my-video"
          class="video-js"
          controls
          preload="auto"
          controlsList="nodownload"
          width="100%"
          poster="{{ asset('videoImage/' ~ video.imageName) }}"
          data-setup="{}"
      >
        <source src="{{ path('stream_video', {slug: video.slug}) }}" type="{{ video.videoType }}"/>
        <p class="vjs-no-js">
          To view this video please enable JavaScript, and consider upgrading to a
          web browser that
          <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
        </p>
      </video>
    </div>
  </div>
  <div class="video_description">
    <div class="video_speaker_grid">
      <img
          src="{{ asset('speakerImage/'~ video.speaker.profilePic ) }}"
          loading="lazy"
          alt=""
          class="video_speaker_small"
      />
      <h3 id="w-node-6a2551828d4e-3e3ab5ab" class="speaker_name">
        {{ video.speaker.firstName }} {{ video.speaker.lastName }} {{ video.speaker.position }}
      </h3>
    </div>
    <div>
      <div class="collapse" id="author_bio">
        <div class="text full p_sm">
          {{ video.speaker.bio|raw }}
        </div>
        <p class="text-left">
          <a class="read-more" href="javascript:void(0)">Read More</a>
        </p>
      </div>

      <a data-w-id="a5f50e60-8d27-13c4-108f-dc423b8d4661" href="#contactSpeaker" class="btn w-inline-block"  data-toggle="modal" data-target="#contactSpeaker">
      <div class="btn_grid">
        <div class="btn-text contact-speaker-btn">
          Contact Speaker
        </div>
        <div class="btn_container">
          <img src="{{ asset('build/images/arrow.svg') }}" alt=""/>
          <div class="btn_circle"></div>
        </div>
      </div>
      </a>
    </div>
  </div>
</div>

{% block modal %}
  <div class="modal fade" id="contactSpeaker" id="modal_form" tabindex="-1" role="dialog" aria-labelledby="contactSpeaker" aria-hidden="true">
    <button data-dismiss="modal" aria-label="Close" data-w-id="8591dad0-d1ef-e323-fbe3-228b6a97fcbe" class="modal_close_btn w-inline-block"><img src="{{ asset('build/images/close_btn.svg') }}" width="48" height="48" alt=""></button>
    <div class="modal_content modal-dialog" role="document">
      <form action="#" name="contact_speaker" class="modal-form">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title h1_30" id="speaker-modal">Contact {{ video.speaker.fullName }}</h1>
        </div>
        <div class="">
          <p class="form_p">If you have any comments, suggestions and/or questions, please do not hesitate to contact me.</p>

            <input type="hidden" name="type" id="type" value="contact_speaker">
            <input type="hidden" name="speaker" id="speaker" value="{{ video.speaker.firstName }} {{ video.speaker.lastName }}">
            <label>
              <textarea name="message" id="message" class="textarea form_textfield w-input message" placeholder="Message*" ></textarea>
            </label>

        </div>
        <div class="">
          <button type="submit" class="btn btn-apply" form="contact_speaker">Send</button>
        </div>
      </div>
      </form>

      <div class="modal-wrap hidden">
        <div class="modal-header">
          <h1 class="h1_30 margin_adjustment">Success</h1>
        </div>
        <div class="modal-body">
          <p class="form_p">Thank you for your interest for the ECOMMTALKS community. We will review your application and
            contact you shortly.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-apply" data-dismiss="modal" aria-label="Close">Close</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block stylesheets %}
  <link href="{{ asset('build/css/video-js.css') }}" rel="stylesheet"/>
{% endblock %}
{% block javascripts %}

  <script src="{{ asset('build/js/videojs-ie8.min.js') }}"></script>
  <script>
    var myVideo = document.getElementById("my-video");
    if (myVideo.addEventListener) {
      myVideo.addEventListener('contextmenu', function (e) {
        e.preventDefault();
      }, false);
    } else {
      myVideo.attachEvent('oncontextmenu', function () {
        window.event.returnValue = false;
      });
    }
  </script>
  <style>

    #author_bio .text.short {
      overflow: hidden;
    }

    #author_bio .text.full {
      display: none;
    }

    contactSpeaker .form_p {
      text-align: center;
    }

    #contactSpeaker .modal_content {
      padding: 0;
    }

  </style>
{% endblock %}
