<div class="videos">
  <div class="container">
    <h2 id="videos" class="videos_h">Time to Learn</h2>
    <div class="videos_grid_3" id="videos-grid">
      {% for video in homePageVideo %}
        <a data-w-id="731b2dc6-70dd-6fcf-1a60-fc40a5d8d28b" href="{{ path('watch', { 'slug': video.slug }) }}" class="video_link w-inline-block">
          <div class="video_cover_container">
            <div class="video_cover" style="background-image: url({{ asset('videoImage/' ~ video.imageName) }})"></div>
          </div>
          <h2 class="video_title" style="text-decoration: none">{{ video.title }}</h2>
          <div class="video_speaker_name">{{ video.speaker.firstName }} {{ video.speaker.lastName }}</div>
        </a>

      {% endfor %}
    </div>
    <div class="videos_links">
      <a data-w-id="2320b656-5a39-8405-83d9-6c5a931fb0b9" href="{{ path('index_courses') }}"
         class="btn padding-left-right w-inline-block">
        <div class="btn_grid">
          <div class="btn_text">Courses</div>
          <div class="btn_container">
            <img src="{{ asset('build/images/arrow.svg') }}" loading="lazy" alt="">
            <div
                    style="-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:1"
                    class="btn_circle">
            </div>
          </div>
        </div>
      </a>
      <a data-w-id="2320b656-5a39-8405-83d9-6c5a931fb0b9" href="{{ path('index_speakers') }}"
         class="btn padding-left-right w-inline-block">
        <div class="btn_grid">
          <div class="btn_text">Speakers</div>
          <div class="btn_container">
            <img src="{{ asset('build/images/arrow.svg') }}" loading="lazy" alt=""/>
            <div
                    style="-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:1"
                    class="btn_circle">
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>

<style>
  .videos_grid_3 {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 56px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  }

  .videos_grid_3.courses_xtra_padding {
  padding-bottom: 40px;
  }

  .video_title {
  margin-top: 24px;
  margin-bottom: 16px;
  padding-top: 0px;
  padding-bottom: 0px;
  font-family: Neuemachina, sans-serif;
  font-size: 20px;
  line-height: 140%;
  text-transform: none;
  }

  .video_speaker_name {
  font-size: 16px;
  }

  .video_cover_container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 0px;
  padding-top: 56%;
  }

  .video_cover {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  background-image: url('../images/oles_petriv_thumb.jpg');
  background-position: 0px 0px;
  background-size: cover;
  }

  @media screen and (min-width: 1280px) {
    h1 {
      letter-spacing: 0em;
    }

    h3 {
      font-size: 30px;
    }

    .intro_text {
      padding-top: 120px;
      padding-bottom: 120px;
    }

    .intro_heading {
      font-size: 40px;
    }

    .login_form {
      margin-right: auto;
      margin-left: auto;
    }

    .nav_link {
      font-size: 36px;
    }
  }

  @media screen and (max-width: 991px) {
    .intro {
      padding-right: 48px;
      padding-left: 48px;
    }

    .header {
      padding-right: 48px;
      padding-left: 48px;
    }

    .intro_grid_2 {
      grid-column-gap: 48px;
    }

    .intro_text_grid_2 {
      -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
    }

    .intro_cta {
      padding-bottom: 40px;
    }

    .btn {
      margin-bottom: 16px;
    }

    .btn.padding-right {
      padding-right: 20px;
    }

    .intro_img {
      margin-top: -96px;
      background-position: 50% 50%;
      background-size: 80%;
    }

    .intro_topics {
      padding-right: 48px;
      padding-left: 48px;
    }

    .list_red {
      font-size: 24px;
    }

    .list_blue {
      font-size: 24px;
    }

    .videos_grid_2 {
      -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
    }

    .videos_grid_2.courses_xtra_padding {
      padding-bottom: 24px;
    }

    .videos {
      padding-right: 48px;
      padding-left: 48px;
    }

    .videos_links {
      padding-bottom: 64px;
    }

    .footer_cta_heading_blue {
      font-size: 30px;
      letter-spacing: 0.03em;
    }

    .footer_cta_block {
      padding-bottom: 64px;
    }

    .footer_cta_link {
      padding-right: 48px;
      padding-left: 48px;
    }

    .footer_cta_heading_red {
      font-size: 30px;
      letter-spacing: 0.03em;
    }

    .intro_play_icon {
      display: none;
    }

    .footer {
      padding-right: 48px;
      padding-left: 48px;
    }

    .footer_cta_heading_white {
      font-size: 30px;
      letter-spacing: 0.03em;
    }

    .login_wrapper {
      padding-left: 24px;
    }

    .intro-2 {
      padding-right: 48px;
      padding-left: 48px;
    }

    .login_form_block {
      margin-right: 48px;
    }

    .intro_password {
      padding-right: 48px;
      padding-left: 48px;
    }

    .intro_grid_2_password {
      grid-column-gap: 48px;
    }

    .speakers {
      padding-right: 48px;
      padding-left: 48px;
    }

    .speakers_grid_2 {
      grid-column-gap: 40px;
    }

    .about_grid_2 {
      grid-column-gap: 40px;
      -ms-grid-columns: 8fr 7fr;
      grid-template-columns: 8fr 7fr;
    }

    .about_cta {
      padding-bottom: 0px;
    }

    .about_h_tablet {
      display: block;
    }

    .about_h_desktop {
      display: none;
    }

    .video_description {
      -ms-grid-columns: 140px 1fr;
      grid-template-columns: 140px 1fr;
    }

    .video_player {
      padding-top: 40px;
    }

    .video_tier_3 {
      padding-right: 48px;
      padding-left: 48px;
    }

    .text_page {
      padding-right: 48px;
      padding-left: 48px;
    }

    .nav_link {
      font-size: 24px;
    }

    .other_sections_link {
      padding-right: 48px;
      padding-left: 48px;
    }

    .hor_line {
      padding-right: 48px;
      padding-left: 48px;
    }

    .sponsors {
      padding-right: 48px;
      padding-left: 48px;
    }

    .video_grid_2 {
      display: block;
      margin-top: 0px;
      margin-bottom: 64px;
    }

    .video_speaker_grid {
      margin-top: 32px;
    }

    .videos_grid_3 {
      -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
    }

    .videos_grid_3.courses_xtra_padding {
      padding-bottom: 24px;
    }

    .modal_content {
      padding-right: 48px;
      padding-left: 48px;
    }

    .modal_close_btn {
      top: 8px;
      right: 8px;
    }
  }

  @media screen and (max-width: 767px) {
    h1 {
      margin-top: 56px;
      margin-bottom: 56px;
      font-size: 30px;
      letter-spacing: 0.03em;
    }

    h2 {
      padding-top: 56px;
      padding-bottom: 40px;
      font-size: 30px;
      letter-spacing: 0.03em;
    }

    h3 {
      font-size: 20px;
    }

    .intro {
      padding-right: 40px;
      padding-left: 40px;
    }

    .container.xtra_padding {
      padding-top: 80px;
      padding-bottom: 0px;
    }

    .header {
      padding-right: 40px;
      padding-left: 40px;
    }

    .intro_grid_2 {
      -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
    }

    .intro_text {
      padding-top: 56px;
      padding-bottom: 56px;
    }

    .intro_cta {
      padding-bottom: 40px;
    }

    .btn.padding-right {
      padding-right: 32px;
    }

    .btn.padding-left-right {
      padding-right: 16px;
      padding-left: 16px;
    }

    .intro_img {
      height: 420px;
      margin-top: 0px;
      background-position: 50% 0%;
      background-size: 340px;
    }

    .intro_topics {
      padding: 56px 40px;
    }

    .intro_topics_grid_2 {
      grid-row-gap: 40px;
      -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
    }

    .video_speaker {
      left: 16px;
      bottom: 7px;
    }

    .video_time {
      top: 7px;
      right: 16px;
    }

    .videos {
      padding-right: 40px;
      padding-left: 40px;
    }

    .videos_links {
      padding-top: 40px;
      padding-bottom: 40px;
    }

    .footer_cta_heading_blue {
      max-width: 100%;
    }

    .footer_cta_block {
      padding-top: 56px;
      padding-bottom: 40px;
    }

    .footer_cta_link {
      padding-right: 40px;
      padding-left: 40px;
    }

    .footer_cta_heading_red {
      max-width: 100%;
    }

    .footer {
      padding-right: 40px;
      padding-left: 40px;
    }

    .footer_link {
      display: block;
      margin-right: 24px;
      margin-left: 24px;
      padding-top: 8px;
      padding-bottom: 8px;
    }

    .div-block {
      justify-items: center;
      grid-row-gap: 24px;
      -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
      text-align: center;
    }

    .footer_link_small {
      display: block;
      margin-right: 16px;
      margin-left: 16px;
      padding-top: 8px;
      padding-bottom: 8px;
    }

    .footer_small_links {
      padding-top: 16px;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      text-align: center;
    }

    .footer_link_ecp {
      margin-top: 24px;
    }

    .text_red {
      top: 12px;
      padding-right: 16px;
      padding-left: 16px;
      font-size: 18px;
    }

    .logo {
      width: 280px;
    }

    .video_text_container {
      top: 15px;
    }

    .text_blue {
      top: 12px;
      padding-right: 16px;
      padding-left: 16px;
      font-size: 18px;
    }

    .footer_cta_heading_white {
      max-width: 100%;
    }

    .login_wrapper {
      position: static;
      width: 100%;
      height: auto;
      margin-top: 0px;
      margin-left: 0%;
      padding-right: 40px;
      padding-bottom: 40px;
      padding-left: 40px;
      background-color: #140407;
    }

    .intro-2 {
      padding-right: 40px;
      padding-left: 40px;
    }

    .login_form_block {
      margin-right: 0px;
      -webkit-transform: translate(0px, 0%);
      -ms-transform: translate(0px, 0%);
      transform: translate(0px, 0%);
    }

    .login_form {
      max-width: 100%;
    }

    .intro_text_password {
      padding-top: 40px;
      padding-bottom: 40px;
    }

    .intro_password {
      height: auto;
      padding-right: 40px;
      padding-left: 40px;
    }

    .intro_grid_2_password {
      height: auto;
      -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
    }

    .astronaut_horizontal_img {
      width: 120%;
    }

    .speakers {
      padding-right: 40px;
      padding-left: 40px;
    }

    .speakers_grid_2 {
      grid-row-gap: 56px;
    }

    .about_grid_2 {
      grid-row-gap: 40px;
      -ms-grid-columns: 8fr;
      grid-template-columns: 8fr;
    }

    .about_cta {
      padding-bottom: 0px;
    }

    .about_img {
      display: block;
      width: 70%;
      margin-right: auto;
      margin-left: auto;
    }

    .videos_h {
      padding-top: 56px;
      padding-bottom: 40px;
    }

    .courses_h {
      padding-top: 56px;
      padding-bottom: 24px;
    }

    .courses_play_icon {
      padding-top: 28px;
      padding-bottom: 20px;
    }

    .video_description {
      padding-top: 48px;
      padding-bottom: 0px;
      grid-row-gap: 32px;
      -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
    }

    .video_speaker_small {
      width: 120px;
    }

    .video_tier_3 {
      padding-right: 40px;
      padding-left: 40px;
    }

    .video_player_container {
      margin-right: -40px;
      margin-left: -40px;
    }

    .text_page {
      padding-right: 40px;
      padding-left: 40px;
    }

    .nav {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
    }

    .other_sections_h {
      padding-top: 72px;
      padding-bottom: 40px;
    }

    .other_sections_link {
      padding: 32px 40px;
    }

    .other_sections_h3 {
      font-size: 24px;
    }

    .hor_line {
      padding-right: 40px;
      padding-left: 40px;
    }

    .sponsors {
      padding-right: 40px;
      padding-left: 40px;
    }

    .sponsors_text {
      margin-right: 0px;
      margin-bottom: 24px;
    }

    .sponsors_grid {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
    }

    .sponsors_logo {
      margin-right: 0px;
      margin-bottom: 24px;
    }

    .sponsors_logo.last {
      margin-bottom: 0px;
    }

    .videos_grid_3 {
      grid-row-gap: 40px;
      -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
    }

    .modal_content {
      padding-right: 40px;
      padding-left: 40px;
    }
  }

  @media screen and (max-width: 479px) {
    h1 {
      font-size: 24px;
      letter-spacing: 0.03em;
    }

    .intro {
      padding-right: 24px;
      padding-left: 24px;
    }

    .header {
      padding-right: 24px;
      padding-left: 24px;
    }

    .btn {
      font-size: 16px;
    }

    .intro_img {
      margin-right: -24px;
      margin-left: -24px;
    }

    .intro_topics {
      padding-right: 24px;
      padding-left: 24px;
    }

    .videos {
      padding-right: 24px;
      padding-left: 24px;
    }

    .footer_cta_link {
      padding-right: 24px;
      padding-left: 24px;
    }

    .footer {
      padding-right: 24px;
      padding-left: 24px;
    }

    .logo {
      width: 140px;
    }

    .heading {
      font-size: 24px;
    }

    .heading-2 {
      font-size: 24px;
    }

    .intro_heading {
      font-size: 24px;
    }

    .login_wrapper {
      padding-right: 24px;
      padding-left: 24px;
    }

    .intro-2 {
      padding-right: 24px;
      padding-left: 24px;
    }

    .intro_password {
      padding-right: 24px;
      padding-left: 24px;
    }

    .speakers {
      padding-right: 24px;
      padding-left: 24px;
    }

    .speakers_grid_2 {
      grid-row-gap: 40px;
      -ms-grid-columns: 3fr;
      grid-template-columns: 3fr;
    }

    .speakers_text {
      margin-bottom: 16px;
    }

    .about_grid_2 {
      grid-row-gap: 40px;
      -ms-grid-columns: 3fr;
      grid-template-columns: 3fr;
    }

    .courses_h_grid {
      -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
    }

    .courses_h {
      font-size: 24px;
    }

    .courses_play_icon {
      display: none;
    }

    .video_tier_3 {
      padding-right: 24px;
      padding-left: 24px;
    }

    .video_player_container {
      margin-right: -24px;
      margin-left: -24px;
    }

    .text_page {
      padding-right: 24px;
      padding-left: 24px;
    }

    .other_sections_link {
      padding-right: 24px;
      padding-left: 24px;
    }

    .other_sections_h3 {
      font-size: 18px;
    }

    .hor_line {
      padding-right: 24px;
      padding-left: 24px;
    }

    .sponsors {
      padding-right: 24px;
      padding-left: 24px;
    }

    .h1_30 {
      font-size: 20px;
    }

    .modal_content {
      padding-right: 24px;
      padding-left: 24px;
    }
  }

  .video_title {
    margin-top: 24px;
    margin-bottom: 16px;
    padding-top: 0px;
    padding-bottom: 0px;
    font-family: Neuemachina, sans-serif;
    font-size: 20px;
    line-height: 140%;
    text-transform: none;
    text-decoration: none;
  }

  .video_link {
    text-decoration: none;
  }


</style>