<div data-w-id="6b7aefd3-d2a2-9f76-2c43-6f9ee1944add" class="video">

  <a
      href="{{ path('watch', { 'slug': video.slug }) }}"
      aria-current="page"
      class="video_content w-inline-block"
  >
    <div class="video_text_container">
      {#<h3 class="{{ even|default(false) ? 'text_blue' : 'text_red' }}">{{ video.title }}</h3>#}
    </div>
    <div class="video_speaker">{#{{ video.speaker.firstName ~ ' ' ~ video.speaker.lastName ~ ', ' ~ video.speaker.position }}#}</div>
    <div class="video_time">{{ video.videoLength|lengthToTime }}</div>

    <img
        src="{{ asset('videoImage/' ~ video.imageName) }}"
        loading="lazy"
        srcset="
      {{ asset('videoImage/' ~ video.imageName) }} 800w,
      {{ asset('videoImage/' ~ video.imageName) }} 1080w,
      {{ asset('videoImage/' ~ video.imageName) }} 1400w
    "
        sizes="(max-width: 991px) 88vw, 45vw"
        style="
                  opacity: 1;
                  -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1)
                    rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                  -moz-transform: translate3d(0, 0, 0) scale3d(1, 1, 1)
                    rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                  -ms-transform: translate3d(0, 0, 0) scale3d(1, 1, 1)
                    rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                  transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0)
                    rotateY(0) rotateZ(0) skew(0, 0);
                "
        alt="{{ video.title }}"
        class="image"
    />
  </a>
</div>
