{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}
{% block meta %}
  <meta http-equiv="refresh" content="3600">{% endblock %}

{% block html_wf_page %}5f6356e9734c7da52e45d434{% endblock %}

{% block content %}
  <div class="intro_password">
    <div class="container">
      <div class="intro_grid_2_password">
        <div>
          <div class="intro_text_password">
            <div class="intro_text_grid_2">
              <div>
                <img src="{{ asset('build/images/play_icon_red.svg') }}" loading="lazy" alt="" class="intro_play_icon">
              </div>
              <div>
                <h1 class="intro_heading">Premium Content for Private Community</h1>
              </div>
            </div>
            <p>ECOMMTALKS conference presents online Academy - the series of educational and motivational speeches from
               IT industry.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="login" class="utility-page-wrap login_wrapper">
    <div class="utility-page-content login_form_block w-password-page w-form">
      <form method="POST" class="login_form w-password-page" action="{{ path('app_login') }}">
        {% if app.user %}
          <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
          </div>
        {% endif %}

        <h2 class="h3 mb-3 login-heading">Welcome back</h2>
        {% if error %}
          <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'messages')|raw }}</div>
        {% endif %}
        {% for message in app.flashes('error') %}
          <div class="alert alert-error">
            {{ message|trans|raw }}
          </div>
        {% endfor %}

        <div class="login_form_link">
          New to ECOMMTALKS?
          <a href="{{ path('app_register') }}" class="text_link">Sign Up</a>
          <br>
          Forgot password?
          <a href="{{ path('app_forgot_password_request') }}" class="nav-item">Click here</a>
        </div>

        <label>
          <input
              type="email"
              value="{{ last_username }}"
              name="email"
              placeholder="Email"
              id="inputEmail"
              class="login_field w-password-page w-input"
              required
              autofocus
          />
        </label>
        <label>
          <input
              type="password"
              name="password"
              id="inputPassword"
              class="login_field w-password-page w-input"
              placeholder="Password"
              required/>
        </label>
        <input
            type="hidden" name="_csrf_token"
            value="{{ csrf_token('authenticate') }}"
        />
        <input type="submit" value="Login" data-wait="Please wait..." class="login_btn w-password-page w-button"/>
      </form>

      <div class="login_delimiter">
        Or login with
      </div>

      <div class="social_buttons">
        <ul class="social_button_list">
          <li>
            <a href="{{ path('connect_facebook_start') }}" class="social_button">
              <img src="{{ asset('build/images/icons/facebook.svg') }}" alt="Facebook"> Facebook
            </a>
          </li>
          <li>
            <a href="{{ path('connect_google_start') }}" class="social_button">
              <img src="{{ asset('build/images/icons/google.svg') }}" alt="Google"> Google
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="astronaut_horizontal">
    <img
        src="{{ asset('build/images/astronaut_horizontal.jpg') }}"
        loading="lazy"
        srcset="
          {{ asset('build/images/astronaut_horizontal-p-500.jpeg') }} 500w,
          {{ asset('build/images/astronaut_horizontal-p-800.jpeg') }} 800w,
          {{ asset('build/images/astronaut_horizontal-p-1080.jpeg') }} 1080w,
          {{ asset('build/images/astronaut_horizontal-p-1600.jpeg') }} 1600w,
          {{ asset('build/images/astronaut_horizontal-p-2000.jpeg') }} 2000w,
          {{ asset('build/images/astronaut_horizontal-p-3200.jpeg') }} 3200w,
          {{ asset('build/images/astronaut_horizontal.jpg') }} 3400w
        "
        sizes="(max-width: 767px) 100vw, 80vw"
        data-w-id="f4d3a31f-654d-284b-7752-7a9706e8a3b9"
        alt="Login"
        class="astronaut_horizontal_img"
    />
  </div>

  {% embed 'additions/topics.html.twig' with { 'homePageConfig': homePageConfig} %}{% endembed %}

  {% embed 'embeding/video_grid.html.twig' %}{% endembed %}

  <style>
      .login-heading {
          font-family: Drukwide, sans-serif;
          font-style: normal;
          font-weight: 800;
          font-size: 24px;
          line-height: 100%;
          /* identical to box height, or 24px */

          text-align: center;
          text-transform: uppercase;

          color: #FFFFFF;

      }

      .login_btn {
          line-height: 27px;
          color: #FFFFFF;
      }

      .login_delimiter {
          margin-top: 28px;
          margin-bottom: 16px;
      }

      .login_form_link {
          margin: 32px 0;
      }
  </style>

{% endblock %}
