{% extends '@!EasyAdmin/crud/index.html.twig' %}
{% block head_stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body_javascript %}
    {{ parent() }}
    <script>
        let headTh = '<th class="align-middle text-center"><div class="d-flex justify-content-center align-items-center">';
        headTh += '<input type="checkbox" name="selectAll" class="checkbox mr-2" id="selectAll" />'
        headTh += '<label for="selectAll" class="control-label m-0">Select All</label>'
        headTh += '</div></th>'
        $('.table').find('th:first').before(headTh)
        $('.table tr').each((ii, item) => {
            const itemId = $(item).attr('data-id');
            const check = '<input type="checkbox" name="ids" value="' + itemId + '" />'
            $(item).find('td:first').before('<td>' + check + '</td>');
        })
        const typeCheckbox = 'tbody input[type=checkbox]';
        const typeCheckboxChecked = typeCheckbox + ':checked';
        $('#selectAll').on('click', () => {
            if ($('thead input[type=checkbox]:checked').length) {
                $(typeCheckbox).prop('checked', true)
            } else {
                $(typeCheckboxChecked).prop('checked', false)
            }
        })
        $('.page-actions a:first-child').before('<a class="btn btn-primary export-selected" href="#"><i class="action-icon fa fa-file-export"></i> Export Selected</a>')

        $('.export-selected').on('click', () => {
            if (!$(typeCheckboxChecked).length) {
                alert('Select at least one item')
                return false;
            }
            let ids = []
            $(typeCheckboxChecked).each((ii, item) => {
                ids.push($(item).val())
            })
            const url = $('.action-export').attr('href')
            $.ajax({
                method: "POST",
                url,
                data: {ids: JSON.stringify(ids)},
                xhrFields: {
                    responseType: 'blob'
                },
                success: function (data) {
                    var a = document.createElement('a');
                    var url = window.URL.createObjectURL(data);
                    a.href = url;
                    a.download = 'export.csv';
                    document.body.append(a);
                    a.click();
                    a.remove();
                    window.URL.revokeObjectURL(url);
                }
            })
        })
    </script>
{% endblock %}