.speaker_card_img_container {
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.alert.alert-danger,
.alert.alert-error {
    color: #b42f52;
    text-transform: uppercase;
}

.login_with_google {
    max-width: 420px;
}

.social_button {
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    width: 100%;
    display: block;
    padding: 16px 0;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    text-decoration: none;
}

.social_button_list {
    list-style: none;
    display: flex;
    align-items: self-end;
    padding: 0;
}

.social_button_list li {
    flex: 1;
}

.social_button_list li:nth-child(1) {
    margin-right: 12px;
}

@media screen and (min-width: 1280px) {
    .social_buttons {
        margin-right: auto;
        margin-left: auto;
        width: 100%;
        max-width: 420px;
    }
}

.login_form .w-input {
    text-align: left;
}

.video_content .image {
    transition-duration: .3s;
    transition: all .3s ease;
}

.video_content:hover .image {
    transform: translate3d(0px, 0px, 0px) scale3d(1.2, 1.2, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg) !important;
    opacity: 0.5 !important;
    transition-duration: .3s;
    transition: all .3s ease;
}

.d-flex {
    display: flex;
}

.margin_left_auto {
    margin-left: auto;
}

.header .header_container .d-flex.margin_left_auto {
    align-items: flex-end;
    height: 100%;
    flex-direction: column;
    margin-right: 20px;
}

.registration_success {
    display: flex;
    padding-top: 140px;
    margin: 0 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.registration_success .social_buttons {
    width: 40%;
}

.registration_success .social_button {
    text-align: center;
}

.social_button.disabled {
    pointer-events: none;
    cursor: default;
}

@media screen and (max-width: 768px) {
    .welcome {
        display: none;
    }
}

@media screen and (max-width: 425px) {
    .margin_left_auto {
        margin-right: 10px !important;
        margin-left: 30px;
    }
}

.menu {
    min-width: 64px;
}

@media screen and (max-width: 320px) {
    .menu {
        width: 55px;
        height: 55px;
        min-width: 55px;
    }

    .menu_circle {
        width: 45px;
        height: 45px
    }

    .videos_links {
        flex-direction: column;
    }

    .footer_cta_heading_white {
        font-size: 25px;
    }

    .btn.padding-right_2 {
        padding-right: 0;
    }
}

.justify-content-center {
    justify-content: center;
}

.flex-column {
    flex-direction: column;
}

.h1_30 {
    width: 100%;
    min-width: 420px;
    margin-top: 0;
    margin-bottom: 32px;
    color: #fff;
    font-size: 30px;
    line-height: 120%;
}

.speakers_text .card-body {
    padding: 0;
}

.video_description .collapse:not(.show),
.speakers_text .collapse:not(.show) {
    display: block;
}

.video_description .collapse:not(.show) .card.card-body,
.speakers_text .collapse:not(.show) .card.card-body {
    display: block;
    min-height: 10rem;
    max-height: 10rem;
    overflow: hidden;
    margin-bottom: 1rem;
    padding-left: 0;
}

.video_description .collapse .nav-item,
.speakers_text .collapse .nav-item {
    text-decoration: none;
}

.video_description .collapse .nav-item span ,
.speakers_text .collapse .nav-item span {
    display:inline-block;
    border-bottom:1px dashed whitesmoke;
    font-size: 1rem;
}


.video_description .collapse:not(.show) .nav-item span:before,
.speakers_text .collapse:not(.show) .nav-item span:before {
    content: 'Read more';
}

.video_description .collapse.show .nav-item span:before,
.speakers_text .collapse.show .nav-item span:before {
    content: 'Read less';
}

.modal-dialog {
    max-width: 420px;
}
.modal {
    background-color: black;
}
.modal .modal-header button {
    color: white;
}
.modal-content {
    background-color: transparent;
    width: 100%;
    height: 100%;
}

.modal-header,
.modal-body,
.modal-footer {
    text-align: center;
    border: none;
    justify-content: center;
}

.modal-body{
    padding-bottom: 0;
}

.modal-footer {
    padding-top: 0;
}

.btn-apply {
    height: 64px;
    padding-top: 0;
    padding-bottom: 0;
    background-color: #ff5042;
    -webkit-transition: opacity 200ms ease-in-out;
    transition: opacity 200ms ease-in-out;
    color: #000;
    font-size: 16px;
    line-height: 64px;
    font-weight: 800;
    text-decoration: none;
    width: 100%;
}

.btn-apply:hover {
    opacity: .5;
    color: black;
}
.footer_cta_block .btn .btn_text {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer_cta_block .btn .btn_text span {
    margin-right: 10px;
}

.form_field {
    height: 64px;
    margin-bottom: 8px;
    padding-right: 24px;
    padding-left: 24px;
    color: #000;
    font-size: 16px;
    text-align: left;
    width: 100% ;
}

.form_textfield {
    min-height: 160px;
    padding: 24px;
    color: #000;
    text-align: left;
    font-size: 16px;
}
.has-error input,
.has-error textarea {
    border-color: #ff5042;
}

.text-danger {
    color: #ff5042;
    padding: 0;
    margin: 0;
    display: none;
}

.has-error .text-danger {
    display: block;
}

.hidden {
    display: none;
}

form input, form textarea {
    font-weight: 400;
}

::placeholder {
    color: #000 !important;
}

.modal_close_btn {
    position: absolute;
    top: 16px;
    right: 16px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 64px;
    height: 64px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: opacity 200ms ease-in-out;
    transition: opacity 200ms ease-in-out;
    background-color: transparent;
    max-width: 100%;
    display: inline-block;
}

@media screen and (min-width: 768px) and (max-width: 1600px) {
    .astronaut_horizontal_img {
        margin-top: 30px;
    }
}

.video_description_text {
    margin-top: 2em;
}

.read-more {
    height: 23px;
    display: none;
    margin-top: 16px;
    margin-bottom: 2px;
    font-size: 15px;
    cursor: pointer;
    text-decoration: underline;
    text-decoration-style: dotted;
    text-underline-position: under;
}

.btn_grid button {
    background-color: transparent;
}

.contact-speaker-btn {
    padding: 0;
    margin-right: 16px;
    margin-bottom: 2px;
}

.form_p {
    margin-bottom: 32px;
    font-size: 16px;
}

.modal_content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: auto;
    min-height: 100%;
    padding: 80px 56px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #000;
    max-width: 420px;
    margin: 0 auto;
    text-align: center;
}

.modal-dialog {
    margin-top: auto;
}
.modal_close_btn {
    z-index: 10;
}

.text.full span{
    display: inline;
}

.modal-body .text-danger {
    display:block;
}