body {
    background-color: #000;
    font-family: Neuemachina, sans-serif;
    color: #fff;
    font-size: 18px;
    line-height: 160%;
}

h1 {
    margin-top: 80px;
    margin-bottom: 80px;
    font-family: Drukwide, sans-serif;
    color: #f95144;
    font-size: 50px;
    line-height: 100%;
    font-weight: 800;
    text-transform: uppercase;
}

h2 {
    margin-top: 0;
    margin-bottom: 0;
    font-family: Drukwide, sans-serif;
    font-size: 50px;
    line-height: 100%;
    font-weight: 800;
    text-transform: uppercase;
}

h3 {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 24px;
    font-size: 24px;
    line-height: 120%;
    font-weight: 800;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

h4 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: Drukwide, sans-serif;
    font-size: 18px;
    line-height: 110%;
    font-weight: 800;
}

p {
    margin-bottom: 24px;
}

a {
    color: #fff;
    text-decoration: underline;
}

li {
    margin-bottom: 24px;
}

.intro {
    overflow: hidden;
    padding-right: 56px;
    padding-left: 56px;
    background-color: #140407;
}

.container {
    max-width: 1240px;
    margin-right: auto;
    margin-left: auto;
}

.container.line {
    height: 2px;
    background-color: #fff;
}

.header {
    position: absolute;
    z-index: 40;
    display: block;
    width: 100%;
    padding: 24px 56px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.menu {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    width: 64px;
    height: 64px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 50%;
}

.intro_grid_2 {
    display: -ms-grid;
    display: grid;
    margin-top: 112px;
    grid-auto-columns: 1fr;
    grid-column-gap: 96px;
    grid-row-gap: 0;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
}

.intro_text_grid_2 {
    display: -ms-grid;
    display: grid;
    padding-bottom: 40px;
    grid-auto-columns: 1fr;
    grid-column-gap: 24px;
    grid-row-gap: 0;
    -ms-grid-columns: 96px 1fr;
    grid-template-columns: 96px 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
}

.intro_text {
    padding-top: 80px;
    padding-bottom: 80px;
}

.intro_cta {
    display: inline-block;
    padding-bottom: 56px;
}

.btn {
    color: #fff;
    font-weight: 800;
    text-decoration: none;
}

.btn.padding-right {
    padding-right: 48px;
}

.btn.padding-left-right {
    padding-right: 24px;
    padding-left: 24px;
}

.btn.padding-right_2 {
    padding-right: 24px;
}

.btn.padding_bottom_0 {
    margin-bottom: 0;
}

.btn_text {
    margin-right: 16px;
    margin-bottom: 2px;
}

.btn_text.margin_left {
    margin-right: 0;
    margin-left: 16px;
}

.btn_container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 56px;
    height: 56px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 50%;
}

.btn_grid {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.intro_img {
    position: relative;
    z-index: 0;
    width: 100%;
    height: 100%;
    margin-top: -56px;
    background-image: url('../images/astro.jpg');
    background-position: 50% 0;
    background-size: 100%;
    background-repeat: no-repeat;
}

.intro_topics {
    padding: 80px 56px;
}

.intro_topics_grid_2 div:first-child {
    margin-bottom: 0;
    font-family: Drukwide, sans-serif;
    color: #f95144;
    font-size: 30px;
    line-height: 110%;
    font-weight: 700;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.intro_topics_grid_2 div ul {
    padding-left: 0;
    list-style: none;
}
.intro_topics_grid_2 div ul li {
    margin-bottom: 0;
}
.intro_topics_grid_2 div:last-child {
    margin-bottom: 0;
    font-family: Drukwide, sans-serif;
    color: #0500ff;
    font-size: 30px;
    line-height: 110%;
    font-weight: 700;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.intro_topics_grid_2 {
    display: -ms-grid;
    display: grid;
    grid-auto-columns: 1fr;
    grid-column-gap: 96px;
    grid-row-gap: 0;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
}

.video {
    position: relative;
    width: 100%;
    padding-top: 50%;
}

.videos_grid_2 {
    display: -ms-grid;
    display: grid;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
}

.videos_grid_2.courses_xtra_padding {
    padding-bottom: 40px;
}

.video_content {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    color: #fff;
    text-decoration: none;
}

.video_speaker {
    position: absolute;
    left: 24px;
    bottom: 15px;
    z-index: 10;
    display: inline-block;
    font-size: 15px;
}

.video_time {
    position: absolute;
    top: 15px;
    right: 24px;
    z-index: 10;
    display: inline-block;
    font-size: 15px;
}

.image {
    width: 100%;
    height: 100%;
}

.videos {
    padding-right: 56px;
    padding-left: 56px;
}

.videos_links {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-top: 56px;
    padding-bottom: 80px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.footer_cta_heading_blue {
    max-width: 75%;
    padding-top: 0;
    padding-bottom: 48px;
    color: #0500ff;
    font-size: 40px;
    text-align: center;
}

.footer_cta_block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-top: 80px;
    padding-bottom: 80px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.footer_cta_link {
    width: 100%;
    padding-right: 56px;
    padding-left: 56px;
    text-decoration: none;
}

.footer_cta_heading_red {
    max-width: 75%;
    padding-top: 0;
    padding-bottom: 48px;
    color: #ff5042;
    font-size: 40px;
    text-align: center;
}

.btn_circle {
    position: absolute;
    width: 56px;
    height: 56px;
    border-style: solid;
    border-width: 2px;
    border-color: #fff;
    border-radius: 50%;
    -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    -moz-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    -ms-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
    opacity: 1;
}

.intro_play_icon {
    margin-top: 4px;
}

.menu_icon_close {
    position: absolute;
    opacity: 0;
}

.menu_circle {
    position: absolute;
    width: 64px;
    height: 64px;
    border-style: solid;
    border-width: 2px;
    border-color: #fff;
    border-radius: 50%;
}

.footer {
    padding-top: 80px;
    padding-right: 56px;
    padding-left: 56px;
}

.footer_link {
    margin-left: 48px;
    -webkit-transition: opacity 200ms ease-in-out;
    transition: opacity 200ms ease-in-out;
    color: #fff;
    font-weight: 800;
    text-decoration: none;
}

.footer_link:hover {
    opacity: 0.5;
}

.div-block {
    display: -ms-grid;
    display: grid;
    grid-auto-columns: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 0;
    -ms-grid-columns: 136px 1fr;
    grid-template-columns: 136px 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
}

.footer .container .div-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer_link_small {
    margin-right: 32px;
    -webkit-transition: opacity 200ms ease-in-out;
    transition: opacity 200ms ease-in-out;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
}

.footer_link_small:hover {
    opacity: 0.5;
}

.footer_small_links {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-top: 48px;
    padding-bottom: 32px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.footer_link_ecp {
    -webkit-transition: opacity 200ms ease-in-out;
    transition: opacity 200ms ease-in-out;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
}

.footer_link_ecp:hover {
    opacity: 0.5;
}

.footer_link_ecp_text {
    display: inline-block;
    margin-right: 8px;
}

.image-2 {
    position: relative;
    bottom: 5px;
}

.text_red {
    z-index: 10;
    margin-bottom: 0;
    padding: 3px 24px;
    -webkit-align-content: space-around;
    -ms-flex-line-pack: distribute;
    align-content: space-around;
    background-color: #ff5042;
    font-family: Drukwide, sans-serif;
    line-height: 130%;
    font-weight: 800;
    font-size: 20px;
}

.logo {
    width: 300px;
}

.video_text_container {
    position: absolute;
    left: 0;
    top: 30px;
    right: auto;
    bottom: 0;
    z-index: 10;
    width: 66%;
}

.video_text_wrapper {
    display: inline;
    background-color: #ff5042;
}

.div-block-2 {
    display: inline;
}

.text_blue {
    font-size: 20px;
    z-index: 10;
    margin-bottom: 0;
    padding: 3px 24px;
    -webkit-align-content: space-around;
    -ms-flex-line-pack: distribute;
    align-content: space-around;
    background-color: #0500ff;
    font-family: Drukwide, sans-serif;
    line-height: 130%;
    font-weight: 800;
}

.scroll_menu {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: auto;
    z-index: 15;
    height: 80px;
    background-color: #ff5042;
    -webkit-transform: translate(0px, -100%);
    -ms-transform: translate(0px, -100%);
    transform: translate(0px, -100%);
}

.header_container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    max-width: 1240px;
    margin-right: auto;
    margin-left: auto;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.footer_cta_heading_white {
    max-width: 75%;
    padding-top: 0;
    padding-bottom: 48px;
    color: #fff;
    font-size: 40px;
    text-align: center;
}

.intro_heading {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 30px;
    letter-spacing: 0.03em;
}

.login_wrapper {
    position: absolute;
    left: 0;
    top: 112px;
    right: 0;
    bottom: auto;
    width: 50%;
    height: 500px;
    margin-left: 50%;
    padding-left: 48px;
}

.intro-2 {
    overflow: hidden;
    padding-right: 56px;
    padding-left: 56px;
    background-color: #140407;
}

.login_btn {
    width: 100%;
    height: 64px;
    background-color: #ff5042;
    -webkit-transition: opacity 200ms ease-in-out;
    transition: opacity 200ms ease-in-out;
    color: #000;
    font-size: 16px;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login_btn:hover {
    opacity: 0.5;
}

.login_form_block {
    position: relative;
    top: 50%;
    max-width: 572px;
    margin-right: 56px;
    -webkit-transform: translate(0px, -50%);
    -ms-transform: translate(0px, -50%);
    transform: translate(0px, -50%);
}

.login_field {
    height: 64px;
    padding-right: 24px;
    padding-left: 24px;
    color: #000;
    font-size: 16px;
    text-align: center;
}

.login_field::-webkit-input-placeholder {
    color: #000;
}

.login_field:-ms-input-placeholder {
    color: #000;
}

.login_field::-ms-input-placeholder {
    color: #000;
}

.login_field::placeholder {
    color: #000;
}

.login_form {
    width: 100%;
    max-width: 420px;
    margin-right: auto;
    margin-left: auto;
}

.intro_password {
    overflow: hidden;
    height: 620px;
    padding-top: 112px;
    padding-right: 56px;
    padding-left: 56px;
    background-color: #140407;
}

.intro_grid_2_password {
    display: -ms-grid;
    display: grid;
    height: 500px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    grid-auto-columns: 1fr;
    grid-column-gap: 96px;
    grid-row-gap: 0;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
}

.login_form_caption {
    margin-top: 16px;
    font-size: 16px;
    text-align: center;
}

.astronaut_horizontal {
    overflow: hidden;
    background-color: #140407;
    text-align: center;
}

.astronaut_horizontal_img {
    width: 80%;
    max-width: 1400px;
}

.header_container_password {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 64px;
    max-width: 1240px;
    margin-right: auto;
    margin-left: auto;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.speakers {
    padding-top: 112px;
    padding-right: 56px;
    padding-left: 56px;
}

.speakers_grid_2 {
    display: -ms-grid;
    display: grid;
    grid-auto-columns: 1fr;
    grid-column-gap: 80px;
    grid-row-gap: 80px;
    -ms-grid-columns: 3fr 5fr;
    grid-template-columns: 3fr 5fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
}

.intro_p {
    margin-bottom: 0;
}

.red_link {
    -webkit-transition: opacity 200ms ease-in-out;
    transition: opacity 200ms ease-in-out;
    color: #ff5042;
}

.red_link:hover {
    opacity: 0.5;
}

.about_grid_2 {
    display: -ms-grid;
    display: grid;
    grid-auto-columns: 1fr;
    grid-column-gap: 80px;
    grid-row-gap: 80px;
    -ms-grid-columns: 4fr 3fr;
    grid-template-columns: 4fr 3fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
}

.about_cta {
    display: inline-block;
    padding-top: 32px;
    padding-bottom: 80px;
}

.about_h_tablet {
    display: none;
}

.about_h_desktop {
    margin-bottom: 56px;
}

.courses_h_grid {
    display: block;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    grid-auto-columns: 1fr;
    -ms-grid-columns: 1fr 80px;
    grid-template-columns: 1fr 80px;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
}

.videos_h {
    padding-top: 120px;
    padding-bottom: 56px;
    text-align: center;
}

.courses_h {
    padding-top: 80px;
    padding-bottom: 32px;
    color: #ff5042;
}

.courses_play_icon {
    padding-top: 40px;
    padding-bottom: 16px;
}

.video_description {
    display: block;
    grid-auto-columns: 1fr;
    -ms-grid-columns: 160px 1fr;
    grid-template-columns: 160px 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
}

.video_speaker_small {
    display: block;
    width: 120px;
    border-radius: 50%;
}

.video_player {
    display: block;
}

.video_tier_3 {
    padding-top: 112px;
    padding-right: 56px;
    padding-left: 56px;
}

.text_page {
    padding-top: 112px;
    padding-right: 56px;
    padding-left: 56px;
}

.nav {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 35;
    display: none;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-image: url('../images/menu_bg.jpg');
    background-position: 50% 50%;
    background-size: cover;
}

.nav_link {
    margin: 12px;
    padding: 0.6em 0.9em 0.7em;
    background-color: #000;
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
    color: #ff5042;
    font-size: 30px;
    font-weight: 800;
    text-decoration: none;
}

.nav_link:hover {
    background-color: #ff5042;
    -webkit-transform: scale(1.25);
    -ms-transform: scale(1.25);
    transform: scale(1.25);
    color: #000;
}

.div-block-3 {
    position: fixed;
}

.header_gradient.visible {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: auto;
    z-index: 30;
    display: block;
    width: 100%;
    height: 140px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.66)), to(transparent));
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.66), transparent);
    opacity: 0;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.utility-page-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 50%;
    height: 500px;
    max-height: 100%;
    max-width: 100%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 30px;
}

.utility-page-content {
    position: static;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    max-width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    text-align: center;
}

.arrow_back {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.about_quote {
    max-width: 500px;
    font-size: 24px;
    line-height: 120%;
    font-weight: 800;
    text-transform: uppercase;
}

.about_quote-copy {
    max-width: 500px;
    font-size: 24px;
    line-height: 120%;
    font-weight: 800;
    text-transform: uppercase;
}

.other_sections_h {
    padding-top: 96px;
    padding-bottom: 56px;
    text-align: center;
}

.other_sections {
    margin-top: 80px;
    margin-bottom: 80px;
}

.other_sections_grid_2 {
    display: -ms-grid;
    display: grid;
    grid-auto-columns: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    -ms-grid-columns: 1fr 56px;
    grid-template-columns: 1fr 56px;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
}

.other_sections_link {
    display: block;
    padding: 40px 56px;
}

.other_sections_h3 {
    margin-bottom: 0;
    font-family: Drukwide, sans-serif;
    font-size: 30px;
}

.hor_line {
    display: block;
    padding-right: 56px;
    padding-left: 56px;
}

.sponsors {
    padding-top: 80px;
    padding-right: 56px;
    padding-left: 56px;
}

.sponsors_text {
    display: inline-block;
    margin-right: 32px;
    font-size: 16px;
}

.sponsors_grid {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.sponsors_logo {
    margin-right: 32px;
    -webkit-transform: translate(0px, -3px);
    -ms-transform: translate(0px, -3px);
    transform: translate(0px, -3px);
    -webkit-transition: opacity 200ms ease-in-out;
    transition: opacity 200ms ease-in-out;
}

.sponsors_logo:hover {
    opacity: 0.5;
}

.sponsors_logo.last {
    margin-right: 0;
}

.text_link {
    -webkit-transition: opacity 200ms ease-in-out;
    transition: opacity 200ms ease-in-out;
}

.text_link:hover {
    opacity: 0.5;
}

.video_grid_2 {
    display: -ms-grid;
    display: grid;
    margin-top: 56px;
    margin-bottom: 56px;
    grid-auto-columns: 1fr;
    grid-column-gap: 56px;
    grid-row-gap: 0;
    -ms-grid-columns: 2fr 1fr;
    grid-template-columns: 2fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
}

.p_sm {
    margin-top: 32px;
    font-size: 15px;
    line-height: 160%;
}

.intro_play_btn {
    -webkit-transition: opacity 200ms ease-in-out;
    transition: opacity 200ms ease-in-out;
}

.intro_play_btn:hover {
    opacity: 0.5;
}

.video_speaker_grid {
    display: -ms-grid;
    display: grid;
    grid-auto-columns: 1fr;
    grid-column-gap: 24px;
    grid-row-gap: 0;
    -ms-grid-columns: 120px 1fr;
    grid-template-columns: 120px 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
}

.speaker_name {
    margin-bottom: 0;
    font-size: 18px;
}

.bold {
    font-weight: 800;
}

.margin_top {
    margin-top: 24px;
}

.intro_list_item {
    margin-bottom: 0;
}

@media screen and (min-width: 1280px) {
    h1 {
        letter-spacing: 0;
    }

    h3 {
        font-size: 30px;
    }

    .intro_text {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .intro_heading {
        font-size: 40px;
    }

    .login_form {
        margin-right: auto;
        margin-left: auto;
    }

    .nav_link {
        font-size: 36px;
    }
}

@media screen and (max-width: 991px) {
    .intro {
        padding-right: 48px;
        padding-left: 48px;
    }

    .header {
        padding-right: 48px;
        padding-left: 48px;
    }

    .intro_grid_2 {
        grid-column-gap: 48px;
    }

    .intro_text_grid_2 {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }

    .intro_cta {
        padding-bottom: 40px;
    }

    .btn {
        margin-bottom: 16px;
    }

    .btn.padding-right {
        padding-right: 20px;
    }

    .intro_img {
        margin-top: -96px;
        background-position: 50% 50%;
        background-size: 80%;
    }

    .intro_topics {
        padding-right: 48px;
        padding-left: 48px;
    }

    .list_red {
        font-size: 24px;
    }

    .list_blue {
        font-size: 24px;
    }

    .videos_grid_2 {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }

    .videos_grid_2.courses_xtra_padding {
        padding-bottom: 24px;
    }

    .videos {
        padding-right: 48px;
        padding-left: 48px;
    }

    .videos_links {
        padding-bottom: 64px;
    }

    .footer_cta_heading_blue {
        font-size: 30px;
        letter-spacing: 0.03em;
    }

    .footer_cta_block {
        padding-bottom: 64px;
    }

    .footer_cta_link {
        padding-right: 48px;
        padding-left: 48px;
    }

    .footer_cta_heading_red {
        font-size: 30px;
        letter-spacing: 0.03em;
    }

    .intro_play_icon {
        display: none;
    }

    .footer {
        padding-right: 48px;
        padding-left: 48px;
    }

    .footer_cta_heading_white {
        font-size: 30px;
        letter-spacing: 0.03em;
    }

    .login_wrapper {
        padding-left: 24px;
    }

    .intro-2 {
        padding-right: 48px;
        padding-left: 48px;
    }

    .login_form_block {
        margin-right: 48px;
    }

    .intro_password {
        padding-right: 48px;
        padding-left: 48px;
    }

    .intro_grid_2_password {
        grid-column-gap: 48px;
    }

    .speakers {
        padding-right: 48px;
        padding-left: 48px;
    }

    .speakers_grid_2 {
        grid-column-gap: 40px;
    }

    .about_grid_2 {
        grid-column-gap: 40px;
        -ms-grid-columns: 8fr 7fr;
        grid-template-columns: 8fr 7fr;
    }

    .about_cta {
        padding-bottom: 0;
    }

    .about_h_tablet {
        display: block;
    }

    .about_h_desktop {
        display: none;
    }

    .video_description {
        -ms-grid-columns: 140px 1fr;
        grid-template-columns: 140px 1fr;
    }

    .video_player {
        padding-top: 40px;
    }

    .video_tier_3 {
        padding-right: 48px;
        padding-left: 48px;
    }

    .text_page {
        padding-right: 48px;
        padding-left: 48px;
    }

    .nav_link {
        font-size: 24px;
    }

    .other_sections_link {
        padding-right: 48px;
        padding-left: 48px;
    }

    .hor_line {
        padding-right: 48px;
        padding-left: 48px;
    }

    .sponsors {
        padding-right: 48px;
        padding-left: 48px;
    }

    .video_grid_2 {
        display: block;
        margin-top: 0;
        margin-bottom: 64px;
    }

    .video_speaker_grid {
        margin-top: 32px;
    }
}

@media screen and (max-width: 767px) {
    h1 {
        margin-top: 56px;
        margin-bottom: 56px;
        font-size: 30px;
        letter-spacing: 0.03em;
    }

    h2 {
        padding-top: 56px;
        padding-bottom: 40px;
        font-size: 30px;
        letter-spacing: 0.03em;
    }

    h3 {
        font-size: 20px;
    }

    .intro {
        padding-right: 40px;
        padding-left: 40px;
    }

    .header {
        padding-right: 40px;
        padding-left: 40px;
    }

    .intro_grid_2 {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }

    .intro_text {
        padding-top: 56px;
        padding-bottom: 56px;
    }

    .intro_cta {
        padding-bottom: 40px;
    }

    .btn.padding-right {
        padding-right: 32px;
    }

    .btn.padding-left-right {
        padding-right: 16px;
        padding-left: 16px;
    }

    .intro_img {
        height: 420px;
        margin-top: 0;
        background-position: 50% 0;
        background-size: 340px;
    }

    .intro_topics {
        padding: 56px 40px;
    }

    .intro_topics_grid_2 {
        grid-row-gap: 40px;
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }

    .video_speaker {
        left: 16px;
        bottom: 7px;
    }

    .video_time {
        top: 7px;
        right: 16px;
    }

    .videos {
        padding-right: 40px;
        padding-left: 40px;
    }

    .videos_links {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .footer_cta_heading_blue {
        max-width: 100%;
    }

    .footer_cta_block {
        padding-top: 56px;
        padding-bottom: 40px;
    }

    .footer_cta_link {
        padding-right: 40px;
        padding-left: 40px;
    }

    .footer_cta_heading_red {
        max-width: 100%;
    }

    .footer {
        padding-right: 40px;
        padding-left: 40px;
    }

    .footer_link {
        display: block;
        margin-right: 24px;
        margin-left: 24px;
        padding-top: 8px;
        padding-bottom: 8px;
    }

    .div-block {
        justify-items: center;
        grid-row-gap: 24px;
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        text-align: center;
    }

    .footer_link_small {
        display: block;
        margin-right: 16px;
        margin-left: 16px;
        padding-top: 8px;
        padding-bottom: 8px;
    }

    .footer_small_links {
        padding-top: 16px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        text-align: center;
    }

    .footer_link_ecp {
        margin-top: 24px;
    }

    .text_red {
        top: 12px;
        padding-right: 16px;
        padding-left: 16px;
        font-size: 18px;
    }

    .logo {
        width: 280px;
    }

    .video_text_container {
        top: 15px;
    }

    .text_blue {
        top: 12px;
        padding-right: 16px;
        padding-left: 16px;
        font-size: 18px;
    }

    .footer_cta_heading_white {
        max-width: 100%;
    }

    .login_wrapper {
        position: static;
        width: 100%;
        height: auto;
        margin-top: 0;
        margin-left: 0;
        padding-right: 40px;
        padding-bottom: 40px;
        padding-left: 40px;
        background-color: #140407;
    }

    .intro-2 {
        padding-right: 40px;
        padding-left: 40px;
    }

    .login_form_block {
        margin-right: 0;
        -webkit-transform: translate(0px, 0%);
        -ms-transform: translate(0px, 0%);
        transform: translate(0px, 0%);
    }

    .login_form {
        max-width: 100%;
    }

    .intro_text_password {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .intro_password {
        height: auto;
        padding-right: 40px;
        padding-left: 40px;
    }

    .intro_grid_2_password {
        height: auto;
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }

    .astronaut_horizontal_img {
        width: 120%;
    }

    .speakers {
        padding-right: 40px;
        padding-left: 40px;
    }

    .speakers_grid_2 {
        grid-row-gap: 56px;
    }

    .about_grid_2 {
        grid-row-gap: 40px;
        -ms-grid-columns: 8fr;
        grid-template-columns: 8fr;
    }

    .about_cta {
        padding-bottom: 0;
    }

    .about_img {
        display: block;
        width: 70%;
        margin-right: auto;
        margin-left: auto;
    }

    .videos_h {
        padding-top: 56px;
        padding-bottom: 40px;
    }

    .courses_h {
        padding-top: 56px;
        padding-bottom: 24px;
    }

    .courses_play_icon {
        padding-top: 28px;
        padding-bottom: 20px;
    }

    .video_description {
        padding-top: 48px;
        padding-bottom: 0;
        grid-row-gap: 32px;
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }

    .video_speaker_small {
        width: 120px;
    }

    .video_tier_3 {
        padding-right: 40px;
        padding-left: 40px;
    }

    .video_player_container {
        margin-right: -40px;
        margin-left: -40px;
    }

    .text_page {
        padding-right: 40px;
        padding-left: 40px;
    }

    .nav {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .other_sections_h {
        padding-top: 72px;
        padding-bottom: 40px;
    }

    .other_sections_link {
        padding: 32px 40px;
    }

    .other_sections_h3 {
        font-size: 24px;
    }

    .hor_line {
        padding-right: 40px;
        padding-left: 40px;
    }

    .sponsors {
        padding-right: 40px;
        padding-left: 40px;
    }

    .sponsors_text {
        margin-right: 0;
        margin-bottom: 24px;
    }

    .sponsors_grid {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .sponsors_logo {
        margin-right: 0;
        margin-bottom: 24px;
    }

    .sponsors_logo.last {
        margin-bottom: 0;
    }
}

@media screen and (max-width: 479px) {
    h1 {
        font-size: 24px;
        letter-spacing: 0.03em;
    }

    .intro {
        padding-right: 24px;
        padding-left: 24px;
    }

    .header {
        padding-right: 24px;
        padding-left: 24px;
    }

    .btn {
        font-size: 16px;
    }

    .intro_img {
        margin-right: -24px;
        margin-left: -24px;
    }

    .intro_topics {
        padding-right: 24px;
        padding-left: 24px;
    }

    .videos {
        padding-right: 24px;
        padding-left: 24px;
    }

    .footer_cta_link {
        padding-right: 24px;
        padding-left: 24px;
    }

    .footer {
        padding-right: 24px;
        padding-left: 24px;
    }

    .logo {
        width: 140px;
    }

    .heading {
        font-size: 24px;
    }

    .heading-2 {
        font-size: 24px;
    }

    .intro_heading {
        font-size: 24px;
    }

    .login_wrapper {
        padding-right: 24px;
        padding-left: 24px;
    }

    .intro-2 {
        padding-right: 24px;
        padding-left: 24px;
    }

    .intro_password {
        padding-right: 24px;
        padding-left: 24px;
    }

    .speakers {
        padding-right: 24px;
        padding-left: 24px;
    }

    .speakers_grid_2 {
        grid-row-gap: 40px;
        -ms-grid-columns: 3fr;
        grid-template-columns: 3fr;
    }

    .speakers_text {
        margin-bottom: 16px;
    }

    .about_grid_2 {
        grid-row-gap: 40px;
        -ms-grid-columns: 3fr;
        grid-template-columns: 3fr;
    }

    .courses_h_grid {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }

    .courses_h {
        font-size: 24px;
    }

    .courses_play_icon {
        display: none;
    }

    .video_tier_3 {
        padding-right: 24px;
        padding-left: 24px;
    }

    .video_player_container {
        margin-right: -24px;
        margin-left: -24px;
    }

    .text_page {
        padding-right: 24px;
        padding-left: 24px;
    }

    .other_sections_link {
        padding-right: 24px;
        padding-left: 24px;
    }

    .other_sections_h3 {
        font-size: 18px;
    }

    .hor_line {
        padding-right: 24px;
        padding-left: 24px;
    }

    .sponsors {
        padding-right: 24px;
        padding-left: 24px;
    }
}

#w-node-9a37ba44386a-6ca0fef2 {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
}

#w-node-9a37ba44386d-6ca0fef2 {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
}

#w-node-9a37ba443878-6ca0fef2 {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
}

#w-node-9a37ba44387b-6ca0fef2 {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
}

#w-node-9a37ba443886-6ca0fef2 {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
}

#w-node-9a37ba443889-6ca0fef2 {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
}

#w-node-9a37ba443894-6ca0fef2 {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
}

#w-node-9a37ba443897-6ca0fef2 {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
}

#w-node-399565929a55-65929a49 {
    -ms-grid-column-align: end;
    justify-self: end;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
}

#w-node-5341410a9ac2-00db9e45 {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
}

#w-node-8795bc7c3849-00db9e45 {
    -ms-grid-column-align: center;
    justify-self: center;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
}

#w-node-6a2551828d4e-3e3ab5ab {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
}

#w-node-ea213ad1b9c3-3e3ab5ab {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
}

#w-node-7830bbf20e3f-3e3ab5ab {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
}

#w-node-12922969a124-3e3ab5ab {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
}

#w-node-12922969a127-3e3ab5ab {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
}

#w-node-8cea25179d5f-3e3ab5ab {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
}

#w-node-8cea25179d62-3e3ab5ab {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
}

#w-node-e7c054d657d5-3e3ab5ab {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
}

#w-node-e7c054d657d8-3e3ab5ab {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
}

@media screen and (max-width: 991px) {
    #w-node-8795bc7c3849-00db9e45 {
        -webkit-align-self: flex-start;
        -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
    }
}

@media screen and (max-width: 767px) {
    #w-node-399565929a4c-65929a49 {
        -ms-grid-column-align: center;
        justify-self: center;
    }

    #w-node-399565929a55-65929a49 {
        -ms-grid-column-align: center;
        justify-self: center;
    }
}

@font-face {
    font-family: 'Drukwide';
    src: url('../fonts/DrukWide-BoldItalic.otf') format('opentype');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Drukwide';
    src: url('../fonts/DrukWide-Heavy.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Drukwide';
    src: url('../fonts/DrukWide-HeavyItalic.otf') format('opentype');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Neuemachina';
    src: url('../fonts/NeueMachina-Ultrabold.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neuemachina';
    src: url('../fonts/NeueMachina-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Drukwide';
    src: url('../fonts/DrukWide-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Drukwide';
    src: url('../fonts/DrukWide-MediumItalic.otf') format('opentype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Drukwide Super';
    src: url('../fonts/DrukWide-Super.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neuemachina';
    src: url('../fonts/NeueMachina-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Drukwide';
    src: url('../fonts/DrukWide-SuperItalic.otf') format('opentype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}