<h2>New enquiry: {{ sendToSubject }}</h2>
<p>
    <strong>Name:</strong> {{ fromName }}<br>
    <strong>Email:</strong> {{ fromEmail }}<br>
    <strong>Company:</strong> {{ fromCompany }}<br>
    <strong>Position:</strong> {{ fromPosition }}<br>
</p>

<p><strong>Message:</strong><br>{{ fromMessage }}</p>