<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>ECOMMTALKS ACADEMY</title>
  <style type="text/css">
    /* Reset Styles */

    body, #bodyTable, #bodyCell{height:100% !important; margin:0; padding:0; width:100% !important;}
    table{border-collapse:collapse;}
    img, a img{border:0; outline:none; text-decoration:none;}
    h1, h2, h3, h4, h5, h6{margin:0; padding:0;}
    p{margin: 0;}

    /* Client-Specific Styles */

    .ReadMsgBody{width:100%;} .ExternalClass{width:100%;}
    .ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div{line-height:100%;}
    table, td{mso-table-lspace:0pt; mso-table-rspace:0pt;}
    #outlook a{padding:0;}
    img{-ms-interpolation-mode: bicubic;}
    body, table, td, p, a, li, blockquote{-ms-text-size-adjust:100%; -webkit-text-size-adjust:100%;}

    /* Styles */

    body {
      font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
      color: #fff;
      background: #ffffff;
    }

    td {
      background: #100207;
    }

    img {
      display: block;
    }

    .header_desktop, .header_mobile {
      width: 100%;
    }

    .header_mobile {
      display: none;
    }

    p {
      font-size: 20px;
      font-weight: 700;
      margin-bottom: 1em;
    }

    .red {
      color: #F95144;
    }

    .white {
      color: #ffffff;
    }

    .small {
      font-size: 9px;
      text-transform: uppercase;
    }

    a {
      color: #fff;
      text-decoration: none;
    }

    .astro {
      text-align: right;
    }

    /* Sections */

    .content {
      padding: 56px 32px;
    }

    /* Media Queries */

    @media only screen and (max-width: 480px) {
      .header_desktop {
        display: none !important;
      }

      .header_mobile, .footer_links, .astro {
        display: block !important;
      }

      .astro {
        width: 100% !important;
        padding-top: 56px !important;
      }

    }

  </style>
</head>
<body>
<center>
  <table border="0" cellpadding="0" cellspacing="0" width="600" class="wrap">
    <tr>
      <td colspan="2">
        <img src="https://ecommpay.com/uploads/2020/10/30/header_desktop.jpg" class="header_desktop">
        <img src="https://ecommpay.com/uploads/2020/10/30/header_mobile.jpg" class="header_mobile">
      </td>
    </tr>
    <tr>
      <td colspan="2" class="content">
        <p class="red">Hello {{ user.fullName }},</p>
        <p class="white">Thank you for your registration and we are very happy to welcome you to the community!</p>
        <p class="red">ECOMMTALKS Academy is a community of people that think and feel alike. We are not limited only with one topic and one opinion; we bring you the variety of insights from experts in different fields.</p>
        <p class="white">Cultural differences in business, market and technology during and past Covid-19, team management, cybersecurity, fintech and e-commerce priorities, and many, many more!</p>
        <p class="red">Feeling like sharing your experience – become a speaker at ECOMMTALKS Academy! Just drop us a line on <a href="mailto:events@ecommtalks.com" target="_blank">events@ecommtalks.com!</a></p>
        <p class="red">If you have any questions, please don’t hesitate to contact us!</p>
        <p class="white" style="margin-bottom: 0 !important;">The Head of PR & Marketing<br>Department at ECOMMPAY,<br>Anastasia Zencika</p>
      </td>
    </tr>
    <tr>
      <td class="footer_links">
        <table border="0" cellpadding="0" cellspacing="0" width="100%">
          <tr>
            <td width="52" style="padding-left: 32px;">
              <a href="https://www.facebook.com/ecommtalks/" target="_blank">
                <img src="https://ecommpay.com/uploads/2020/10/30/facebook.png" width="44" height="44">
              </a>
            </td>
            <td width="60">
              <a href="https://www.instagram.com/ecommtalks/" target="_blank">
                <img src="https://ecommpay.com/uploads/2020/10/30/instagram.png" width="44" height="44">
              </a>
            </td>
            <td style="padding-right: 32px;">
              <p class="small" style="margin-bottom:0!important;">Premium content for private community</p>
            </td>
          </tr>
        </table>
      </td>
      <td width="180" class="astro">
        <img src="https://ecommpay.com/uploads/2020/10/30/astro.jpg" width="180" height="200">
      </td>
    </tr>
  </table>
</center>
</body>
</html>


