{% extends 'base.html.twig' %}

{% block title %}Yow watching {{ video.title }}{% endblock %}

{% block content %}
  <div class="example-wrapper">
    <div class="video_tier_3">
      <div class="container">
        <h2 class="courses_h">{{ video.title }}</h2>
        <a
            data-w-id="a5f50e60-8d27-13c4-108f-dc423b8d4661"
            href="{{ path('index_courses') }}"
            class="btn w-inline-block"
        >
          <div class="btn_grid">
            <div class="btn_container">
              <img src="{{ asset('build/images/arrow.svg') }}" loading="lazy" alt="" class="arrow_back"/>
              <div class="btn_circle"></div>
            </div>
            <div class="btn_text margin_left">Back to All Courses</div>
          </div>
        </a>
        {% embed 'embeding/video.html.twig' with {vide: video} %}{% endembed %}
        {% if relatedVideo %}
          <h2 class="videos_h">RELATED COURSES</h2>
          <div class="videos_grid_2">
            {% for related in relatedVideo %}
              {% embed 'embeding/video_preview.html.twig' with {video: related} %}{% endembed %}
            {% endfor %}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
