{% extends 'base.html.twig' %}

{% block title %}{{ course.title }}{% endblock %}

{% block content %}
  <div class="speakers">
    <div class="container">
      <h2 class="courses_h">{{ course.title }}</h2>
      <div class="videos_grid_2">
        {% for video in course.video %}
          {% embed 'embeding/video_preview.html.twig' with {video: video, even: loop.index is even} %}{% endembed %}
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
