{% extends 'base.html.twig' %}

{% block title %}{{ 'app.courses.title'|trans }}{% endblock %}

{% block content %}
  <div class="speakers">
    <div class="container">

      {% for course in courses %}
        {% if course.video|length > 0 %}
        <h2 class="courses_h">{{ course.title }}</h2>
        <div class="videos_grid_2 courses_xtra_padding">
          {% for video in course.video %}
            {% embed 'embeding/video_preview.html.twig' with {video: video, even: loop.index is even} %}{% endembed %}
          {% endfor %}
        </div>
        {% endif %}
      {% endfor %}

    </div>
  </div>
{% endblock %}
