{% extends 'base.html.twig' %}

{% block content %}
  <div class="intro_password">
    <div class="container">
      <div class="intro_grid_2_password">
        <div>
          <div class="intro_text_password">
            <div class="intro_text_grid_2">
              <div>
                <img src="{{ asset('build/images/play_icon_red.svg') }}" loading="lazy" alt="" class="intro_play_icon" />
              </div>
              <div>
                <h1 class="intro_heading">
                  Premium Content for Private Community
                </h1>
              </div>
            </div>
            <p>
              ECOMMTALKS conference presents online Academy - the series of
              educational and motivational speeches from IT industry.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="login" class="utility-page-wrap login_wrapper">
    <div class="utility-page-content login_form_block w-password-page w-form">
      <form
          action="/registration"
          method="post"
          class="login_form w-password-page"
      >
        <label>
          <input type="password" autofocus="autofocus" maxlength="24" name="code" placeholder="Registration code" class="login_field w-password-page w-input" />
        </label>

        <label>
          <input type="submit" value="Login" data-wait="Please wait..." class="login_btn w-password-page w-button" />
        </label>

        <div class="w-password-page w-form-fail">
          <div>Incorrect password. Please try again.</div>
        </div>

        <div style="display: none" class="w-password-page w-embed w-script">
          <input type="hidden" name="path" value="<%WF_FORM_VALUE_PATH%>"/>
          <input type="hidden" name="page" value="<%WF_FORM_VALUE_PAGE%>" />
        </div>
        <div style="display: none" class="w-password-page w-embed w-script">
          <script type="application/javascript">
              (function _handlePasswordPageOnload() {
                  if (/[?&]e=1(&|$)/.test(document.location.search)) {
                      document.querySelector(
                          ".w-password-page.w-form-fail"
                      ).style.display = "block";
                  }
              })();
          </script>
        </div>
        <div class="login_form_caption">
          Do not have a password?
          <a href="mailto:anastasia@ecommtalks.com?subject=Hello!" class="text_link" >Contact us</a>
        </div>
      </form>
    </div>
  </div>
  <div class="astronaut_horizontal">
    <img
        src="{{ asset('build/images/astronaut_horizontal.jpg') }}"
        loading="lazy"
        srcset="
          {{ asset('build/images/astronaut_horizontal-p-500.jpeg' )}}   500w,
          {{ asset('build/images/astronaut_horizontal-p-800.jpeg' )}}   800w,
          {{ asset('build/images/astronaut_horizontal-p-1080.jpeg' )}} 1080w,
          {{ asset('build/images/astronaut_horizontal-p-1600.jpeg' )}} 1600w,
          {{ asset('build/images/astronaut_horizontal-p-2000.jpeg' )}} 2000w,
          {{ asset('build/images/astronaut_horizontal-p-3200.jpeg' )}} 3200w,
          {{ asset('build/images/astronaut_horizontal.jpg' )}}       3400w
        "
        sizes="(max-width: 767px) 100vw, 80vw"
        data-w-id="f4d3a31f-654d-284b-7752-7a9706e8a3b9"
        alt=""
        class="astronaut_horizontal_img"
    />
  </div>
{% endblock content %}