{% extends 'base.html.twig' %}

{% block content %}
  <div class="utility-page-wrap">
    <div class="utility-page-content w-form">
      <img src="{{ asset('build/images/page-not-found.svg') }}" alt="Page Not Found">
      <h2>Page Not Found</h2>
      <div>The page you are looking for doesn&#x27;t exist or has been moved.</div>
    </div>
  </div>
{% endblock content %}